<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>VRPS</display-name>
	<servlet>
		<description>
		</description>
		<display-name>UserLogin</display-name>
		<servlet-name>UserLogin</servlet-name>
		<servlet-class>p1.UserLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserRegister</display-name>
		<servlet-name>UserRegister</servlet-name>
		<servlet-class>p1.UserRegister</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>currentstatus</display-name>
		<servlet-name>currentstatus</servlet-name>
		<servlet-class>p1.currentstatus</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminLogin</display-name>
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>p2.AdminLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminLog</display-name>
		<servlet-name>AdminLog</servlet-name>
		<servlet-class>p1.AdminLog</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Technical</display-name>
		<servlet-name>Technical</servlet-name>
		<servlet-class>p1.Technical</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLogin</servlet-name>
		<url-pattern>/UserLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserRegister</servlet-name>
		<url-pattern>/UserRegister</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>currentstatus</servlet-name>
		<url-pattern>/currentstatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/AdminLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLog</servlet-name>
		<url-pattern>/AdminLog</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Technical</servlet-name>
		<url-pattern>/Technical</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
